body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  // display: flex;
  // flex-direction: column;
}

header {
  background-color: #e1e6ee;
  margin-bottom: 3em;

  @media (min-width: 1000px) {
    margin-bottom: 2em;
  }

  h1 {
    font-size: 2.5em;
    padding: 0;
    margin: 0;
  }

  h2 {
    font-weight: 400;
    color: rgba(#333, 0.7);
  }
}

header,
main {
  padding: 1em;

  @media (min-width: 1000px) {
    padding: 2em;
  }
}

main {
  background-color: #e8ebee;

  @media (min-width: 1000px) {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  article {
    border-radius: 5px;
    // box-shadow: 0px 0px 40px 2px #eeeeee;
    box-shadow: -8px 8px 56px 8px #cccccc;
    margin: 1em;
    overflow: hidden;
    background-color: white;

    .img {
      height: 49%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    p {
      text-shadow: 0px 0px 40px 2px #eeeeee;
      padding: 0.5em;
      height: 49%;
      margin: 0;
    }
  }
}

.section {
  background-image: url("/img/background.jpg");
  background-size: cover;
}
